/* Universal Styles*/

html {
    font-size: 18px;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
      
}

h2 {
    font-size: 1.5rem;
}

section h2 {
    background-color: hsla(202, 61%, 30%, 1);
    color: #FFF;
    text-align: center;
    padding: .35rem;
}

.big-link {
    text-decoration: none;
    color: black;
}

.big-link:focus {
    color: hsla(207, 71%, 16%, 1);
}

.big-link:hover {
    color: #145DA0;
}

.big-link:active {
    color: hsla(207, 71%, 16%, 1);
}

/*Header*/

.site-title {
    text-align: center;
    background-color: hsla(207, 71%, 16%, 1);
}

.site-title a {
    text-decoration: none;
    color: inherit;
}

.site-title h1 {
    color: #FFF;
    font-family: "Faustina", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 2.5rem;
    padding: 1rem 0;
    margin-top: 0;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding-left: 0;
}

nav ul li {
    text-align: center;
    display: inline;
    color: hsla(207, 71%, 16%, 1);
    width: 20%;
}

.nav-link {
    text-decoration: none;
}

.nav-link:visited {
    color: inherit;
}

.nav-link:focus {
    color: hsla(207, 71%, 16%, 1);
}

.nav-link:hover {
    color: #145DA0;
}

.nav-link:active {
    color: hsla(207, 71%, 16%, 1);
}

/*About Section*/

.section-content-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#about {
    margin-top: 0;
}

#about h2 {
    margin-bottom: 0;
}

#about .section-content-container {
    background-image: url("./images/about-background-image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 20rem;
    margin-bottom: 0;
}

.text-column {
    max-width: 50%;
    min-width: 15rem;
    overflow: hidden;
}

.text-column p {
    text-align: center;
    width: 45%;
    margin-left: 25%;
    background-color: hsla(29, 78%, 28%, 1);
    color: #fff;
    padding: 1rem;
    border-radius: 2px;
    line-height: 1.8rem;
}

@media only screen and (max-width: 1024px) {
    .text-column p {
        width: 65%;
        margin-left: 15%;
        line-height: 1.4rem;
    }
}

/*Protagonists Section */
#explore-protagonists {
    display: flex;
}

/*So background picture has no space above "Explore Protagonists" section*/
#explore-protagonists h2 {
    margin-top: 0;
}

.protagonists-section-sub-container {
    min-width: 49.5%;
}

.protagonists-section-sub-container:first-of-type {
    border-right: .5rem solid hsla(202, 61%, 30%, 1);
}

.protagonists-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.protagonists-intro p {
    line-height: 1.8rem;
    text-align: center;
    width: 55%;
}

.protagonists-intro a {
    text-align: center;
    margin-bottom: 1rem;
}

.profiles-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 2rem;
}

.profile {
    text-align: center;
}

.profile img {
    height: 10rem;
    width: 8.33rem;
}

/*Creator's Journal Section*/

#creator-journal h2 {
    margin-top: 0;
}

.journal-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.journal-entry {
    text-align: center;
    max-width: 25%;
    min-width: 15rem; 
}

.journal-entry:not(:last-child)  {
    margin-right: 2.5rem;
}

.journal-entry h3 {
    text-decoration: underline;
}

.journal-entry h3, .journal-entry p {
    font-size: 1rem;
    text-align: left;
}

.journal-entry img {
    height: 10rem;
}

@media only screen and (max-width: 1400px) {
    .journal-entry {
        min-width: 20rem;
    }

    .journal-entry h3, .journal-entry p {
        text-align: center;
    }
}

/*Recommended Reading Section*/

.recommended-books-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.recommended-book {
    text-align: center;
    min-width: 22rem;
    max-width: 25%;
    margin: 0 2rem;
}


.book-title {
    color: hsla(207, 71%, 16%, 1);
    text-decoration: underline;
}

.book-title:hover, .book-description:hover {
    color: #145DA0;
}

.book-author {
    color: rgb(1, 83, 131);
    font-size: .9rem;
    font-style: italic;
}

.book-description {
    width: 20rem;
    color: black;
}

/*Footer*/

footer {
    background-color: hsla(207, 71%, 16%, 1);
    margin: 0;
    text-align: center;
}

footer p {
    margin: 0;
    padding: .5rem 0;
    color: #FFF;
}